<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= I18n.t("app_name")%></h1>
    <p class="lead"><%= I18n.t("Olá!") %></p>
    <%= render "menu" %>
  </div>
</div>

<div class="container-fluid">
<ul class="nav justify-content-end">
<li class="nav-item">
<%= link_to 'Português', root_path(locale: 'pt-BR'),
class:"nav-link" %>
</li>
<li class="nav-item">
<%= link_to 'English', root_path(locale: 'en'), class:"nav-link"
%>
</li>
</ul>
<%= yield %>
</div>
<%# Esse comando abixo, é do botão do bootstrap%>
<%#<a class="btn btn-primary btn-lg" href="coins#index" role="button">Entrar</a>%>
