<p id="notice"><%= notice %></p>

<section style="padding:15px; background-color:#fff" >
      <head style="display:flex">
         <h1 id='logo'><%= I18n.t('app_name') %></h1>
         
         <div id='menu'> 
             <%= link_to I18n.t("Home"), coins_path %>
             <%= link_to I18n.t("Mining Types"), mining_types_path %>
         
         </div>
         
     </head>
       <h3><%= MiningType.model_name.human(count: @mining_types.count)%></h1>
        <p><strong><%= l Date.today,  format: :date_month_year_concise%></strong></p>
        

  <table class="table">
      <thead class="thead-light">
        <tr>
          <th><%= I18n.t('Mining Type') %></th>
          <th><%= I18n.t('Acronym') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @mining_types.each do |mining_type| %>
          <tr>
            <td><%= mining_type.description %></td>
            <td><%= mining_type.acronym %></td>
            <td><%= link_to I18n.t('Show'), mining_type %></td>
            <td><%= link_to I18n.t('Edit'), edit_mining_type_path(mining_type) %></td>
            <td><%= link_to I18n.t('Destroy'), mining_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

<br>

<%= link_to I18n.t('New Mining Type'), new_mining_type_path, class: "btn btn-primary" %>

  
  
</section>