<p id="notice"><%= notice %></p>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">


<section style="padding:15px;">

  <div id='head-coin'>
    <h1><%= Coin.model_name.human(count: @coins.count) %></h1>
      <p style='margin-top: -7px;'><%= l Date.today, format: :date_month_year_concise %></p>
      <%#= cookies[:name]%>
      <p><%#= cookies[:login] %> </p>
      <%#= JSON.generate(cookies[:lat_lon]) %>
      <p><%#= session[:curso] %> </p>  
  </div>
   
    
<section style="display: flex; width: 100%; height: 500px; background-color: black">
      <% @coins.each do |coin| %>
      
        <div class="card" style="width: 18rem; border-radius: 20px; border: none;">
          <%= image_tag coin.url_image, class:"card-img-top"%>
          <div class="card-body">
            <h5 class="card-title"><%= coin.description %></h5>
            <p class="card-text"><%= coin.acronym %></p>
            <p class="card-text"><%= coin.mining_type.acronym%></p>
            <%= link_to t("Editar"), edit_coin_path(coin),  class:"btn btn-primary" %>
          </div>
        </div>
        
            <%#= link_to 'X', coin, method: :delete, data: { confirm: I18n.t('Are you sure?') } %>
      <%end%>

</section>


    <br>

    <%= link_to I18n.t('New Coin'), new_coin_path, class: "btn btn-primary btn-lg btn-block" %>
    
   
    
    
    <footer>
        
         <div class="container-fluid">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <%= link_to 'Português', coins_path(locale: 'pt-BR'), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'English', coins_path(locale: 'en'), class:"nav-link" %>
            </li>
          </ul>
          <%= yield %>
          </div>
    
    </footer>
  
</section>